on property:persist.sys.is_upgrade=1
    exec - system system -- /bin/rm -rf /data/system/package_cache
    exec - system system -- /bin/rm -rf /data/resource-cache

on zygote-start && property:persist.sys.ax_hbm_supp=true && property:persist.sys.ax_hbm_file=*
    chown system system ${persist.sys.hbmservice_file}
    chmod 0775 ${persist.sys.hbmservice_file}

on property:sys.boot_completed=* && property:persist.sys.ax_touch_boost=true && property:persist.sys.touchboost_enable=*
    setprop persist.vendor.touch_sensitivity_mode ${persist.sys.touchboost_enable}
